<div class="bayes">

  <% if (bayes.config.type == 'simple') { %>
    <div class="equation">
      $$\mathrm{\Pr(H \mid E.b) = \frac{\Pr(H \mid b) \Pr(E \mid H.b)}{\Pr(E \mid b)}}$$
    </div>
   <% } else if (bayes.config.type == 'full') { %>
    <div class="equation">
      $$\mathrm{\Pr( H \mid E.b ) = \frac{\Pr( H \mid b ) \Pr( E \mid H.b )}{\Pr( H \mid b ) \Pr( E \mid H.b) + \Pr(\neg{H} \mid b ) \Pr( E \mid \neg{H}.b )}}$$
    </div>
   <% } %>

    <form action="#">
      <div class="basic hypotheses clearfix">
        <%= bayes.hypothesis() %>
      </div>
      <div class="form_actions clearfix">
        <% if ( bayes.config.afortiori ) { %>
        <button class="a_fortiori">A fortiori</button>
        <% } %>
      </div>
    </form>

</div>