<div class="bayes">
  <div class="clearfix">
    <div class="bayes-form">
      <% if (bayes.config.equation) { %>
      <div class="equation">
        <%= bayes.equation() %>
      </div>
      <% } %>
      <form action="#">
        <div class="basic hypotheses clearfix">
        <% for (i =1; i <= bayes.config.num; i++) { %>
          <%= bayes.hypothesis({ num: i, disabled: bayes.config.num > 2 && bayes.config.num == i  }) %>
        <% } %>
        </div>
      </form>
    </div>
    <% if (bayes.config.graph) { %>
    <div class="bayes-graph"></div>
    <% } %>
  </div>
</div>