<fieldset class="hypothesis<%= bayes.config.afortiori ? ' fortiori' : '' %>">
  <% _.each(bayes.fields(num), function (field) { %>
  <div class="clearfix field field-<%= field.name %>">
    <label for="Abbreviated_H.b_<%= num %>" title="<%= field.title %>"><%= _.template(field.label)({num: num}) %></label>
    <% if (bayes.config.afortiori) { %>
      <% if (field.type == 'number') { %>
        <div class="inputs">
          <% if (!field.disabled) { %>
          <input type="range" class="bayes-range" name="proxy_<%= field.name %>_<%= num %>" id="Proxy_Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <input type="number" <% if (field.hint) { %>title="<%= field.hint %>"<% } %> name="<%= field.name %>_<%= num %>" id="Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <% } else { %>
          <span><%= field.val %></span>
          <input type="hidden" name="<%= field.name %>_<%= num %>" id="Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <% } %>
        </div>
        <div class="inputs">
          <% if (!field.disabled) { %>
          <input type="range" class="bayes-range" name="proxy_<%= field.name %>_<%= num %>" id="Proxy_Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <input type="number" <% if (field.hint) { %>title="<%= field.hint %>"<% } %> name="<%= field.name %>_<%= num %>" id="Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <% } else { %>
          <span><%= field.val %></span>
          <input type="hidden" name="<%= field.name %>_<%= num %>" id="Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <% } %>
        </div>
      <% } %>
    <% } else { %>
      <div class="inputs">
        <% if (field.type == 'number') { %>
          <% if (!field.disabled) { %>
          <input type="range" class="bayes-range" name="proxy_<%= field.name %>_<%= num %>" id="Proxy_Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <input type="number" <% if (field.hint) { %>title="<%= field.hint %>"<% } %> name="<%= field.name %>_<%= num %>" id="Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <% } else { %>
          <span><%= field.val %></span>
          <input type="hidden" name="<%= field.name %>_<%= num %>" id="Abbreviated_<%= field.name %>_<%= num %>" min="0" max="1" step="0.01" value="<%= field.val %>"/>
          <% } %>
        <% } %>
      </div>
    <% } %>
  </div>
  <% }); %>
</fieldset>